.headCalcul{
    display: flex;
    justify-content: center;
}

input[type=button]{
    background-color: #72acd2;
    color: white;
    padding: 12px 20px;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 40px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button]:hover{
    background-color: #4f8dbd;
}